<div class="container-fluid h-100 bg-light">
	<div class="row full-row">
		<aside class="col-lg-2 bg-primary">
			<app-stu-sidebar></app-stu-sidebar>
		</aside>

		<main class="col-lg-10 p-4">
			<div class="row">
				<div class="container">
					<div class="card">
						<div class="card-header py-0">
							<h4 class="card-title mt-2">Book Appointment</h4>
						</div>

						<div class="card-body">
							<form [formGroup]="appointmentForm" (ngSubmit)="processForm(appointmentForm.value)">

								<div class="form-group">
									<input type="date" formControlName="date" class="form-control" placeholder="Appointment Date">
								</div>

								<div class="form-group">
									<textarea rows="5" placeholder="Reason" formControlName="reason" class="form-control"></textarea>
								</div>

								<button class="btn btn-primary px-5">Book</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
</div>