<div class="container-fluid h-100 bg-light">
	<div class="row full-row">
		<aside class="col-lg-2 bg-danger">
			<app-sidebar></app-sidebar>
		</aside>

		<main class="col-lg-10 p-4">
			<div class="row">
				<div class="container-fluid">
					<h4 class="h4 mb-4">Patients</h4>
				</div>

				<table class="table tab-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Firstname</th>
							<th>Lastname</th>
							<th>Email</th>
							<th>Phone</th>
						</tr>
					</thead>

					<tbody>
						<tr *ngIf="patients == null">
							<td colspan="7" class="text-center py-4"><h4>No Record Found</h4></td>
						</tr>

						<tr *ngFor="let patient of patients; index as i">
							<td>{{(i + 1)}}</td>
							<td>{{patient.firstname}}</td>
							<td>{{patient.lastname}}</td>
							<td>{{patient.email}}</td>
							<td>{{patient.phone}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</main>
	</div>
</div>