<ul class="navbar-nav px-2 sidebar">
	<a href="/" class="side-hero" style="text-decoration: none;">
		<h5 class="d-inline">
			<i class="fa fa-users"></i>
		</h5>

		<span>Clinic System</span>
	</a>

	<hr class="">

	<li class="nav-item">
		<a href="/admin" class="nav-link">
			<i class="fa fa-user"></i> 
			<span>Dashbaord</span>
		</a>
	</li>

	<hr>

	<li class="nav-item">
		<a href="/admin-complaints" class="nav-link">
			<i class="fa fa-user"></i> 
			<span>Complaints</span>
		</a>
	</li>

	<li class="nav-item">
		<a href="/patients" class="nav-link">
			<i class="fa fa-user"></i> 
			<span>Patients</span>
		</a>
	</li>

	<li class="nav-item">
		<a href="/admins" class="nav-link">
			<i class="fa fa-user"></i> 
			<span>Doctors</span>
		</a>
	</li>

	<li class="nav-item">
		<a routerLink="/new-admin" class="nav-link">
			<i class="fa fa-user"></i> 
			<span>Add Doctor</span>
		</a>
	</li>

	<li class="nav-item">
		<a href="/logout?page=admin" class="nav-link">
			<i class="fa fa-user"></i> 
			<span>Logout</span>
		</a>
	</li>
</ul>