<ul class="navbar-nav px-2 sidebar">
	<a href="/" class="side-hero" style="text-decoration: none;">
		<h5 class="d-inline">
			<i class="fa fa-users"></i>
		</h5>
		<span>Clinic System</span>
	</a>

	<hr class="">

	<li class="nav-item">
		<a href="/profile" class="nav-link">
			<i class="fa fa-user"></i> 
			<span>Dashbaord</span>
		</a>
	</li>

	<hr>

	<li class="nav-item">
		<a href="view-profile" class="nav-link">
			<i class="fa fa-user"></i> 
			<span>View Profile</span>
		</a>
	</li>

	<li class="nav-item">
		<a href="/book-appointment" class="nav-link">
			<i class="fa fa-user"></i> 
			<span>Book Appointment</span>
		</a>
	</li>

	<li class="nav-item">
		<a href="/lodge-complain" class="nav-link">
			<i class="fa fa-user"></i> 
			<span>Lodge Complain</span>
		</a>
	</li>

	<li class="nav-item">
		<a href="/appointments" class="nav-link">
			<i class="fa fa-user"></i> 
			<span>Appointments</span>
		</a>
	</li>

	<li class="nav-item">
		<a href="/complaints" class="nav-link">
			<i class="fa fa-user"></i> 
			<span>Complaints</span>
		</a>
	</li>

	<li class="nav-item">
		<a href="/logout?page=patient" class="nav-link">
			<i class="fa fa-user"></i> 
			<span>Logout</span>
		</a>
	</li>
</ul>