<div class="container-fluid h-100 bg-light">
	<div class="row full-row">
		<aside class="col-lg-2 bg-danger">
			<app-sidebar></app-sidebar>
		</aside>

		<main class="col-lg-10 p-4">
			<div class="row">
				<div class="container-fluid">
					<h4 class="h4 mb-4">Admins</h4>
				</div>

				<table class="table tab-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Firstname</th>
							<th>Lastname</th>
							<th>Email</th>
							<th>Phone</th>
						</tr>
					</thead>

					<tbody>
						<tr *ngIf="admins == null">
							<td colspan="4" class="text-center py-4"><h4>No Record Found</h4></td>
						</tr>

						<tr *ngFor="let admin of admins; index as i">
							<td>{{(i + 1)}}</td>
							<td>{{admin.firstname}}</td>
							<td>{{admin.lastname}}</td>
							<td>{{admin.email}}</td>
							<td>{{admin.phone}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</main>
	</div>
</div>